* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f7e6b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  text-align: center;
  margin: 20px 0;
}
sketch-container {
  display: flex;
  flex: 1;
  padding: 1rem;
  border: 2px solid navy;
}
footer {
  background-color: #f7c477;
  height: 2rem;
  color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
