/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f7e6b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: monospace, "Courier New";
}
/* TITLE */
.title {
  text-align: center;
  margin: 20px 0;
}
/* TODO: make the divs take all the space with flex 1 whatever n is */
/* make them appear as a grid nxn */

#sketch-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: auto;
  margin: 0px 100px;
}
/* CANVAS SECTION */
.pixel {
  display: flex;
  flex: 1;
}
#canvas {
  display: flex;
  flex: 9;
  border: 2px solid brown;
  background-color: white;
}

/* COLORING SECTION */
#colorSection {
  display: flex;
  flex: 1;
  background-color: bisque;
}
.colorBtn {
  display: flex;
  flex: 1;
  margin: 10px;
  min-height: 50px;
	min-width: 10px;
}
#colorBtnsSection {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}
#settingsSection {
  display: flex;
  flex: 1;
	background-color: black;
}
#randomizeSection {
  display: flex;
  flex: 1;
	background-color: white;
}
/* FOOTER */
footer {
  margin-top: 30px;
  padding: 15px 0;
  background-color: #f7c477;
  color: brown;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;

