* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f7e6b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: monospace, "Courier New";
}
.title {
  text-align: center;
  margin: 20px 0;
}
sketch-container {
  display: flex;
  flex: 1;
}
/* TODO: make the divs take all the space with flex 1 whatever n is */
/* make them appear as a grid nxn */
#sketch-container {
  display: flex;
  align-items: center;
  margin: 0px 50px;
  border: 2px solid brown;
  justify-content: center;
  height: 800px;
  width: auto;
  background-color: white;
}
.pixel {
  display: flex;
  flex: 1;
}
#canvas {
}
#colorSection {
}
footer {
  background-color: #f7c477;
  height: 2rem;
  color: brown;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
